
mat-card {
    max-width: 500px;
}

#form-container {
    display: flex;
    flex-direction: column;
}

#avatar {
    line-height: 50px;
    text-align: center;
}

#actions {
    display: flex;
    justify-content: space-between;
}

#drop-file-area {
    margin: 16px;
    border: 2px #CCC dashed;
    padding: 32px;
    cursor: pointer;
}

#upload-file {
    display: none;
}

.warn {
    color: #CC0000;
}

.primary {
    color: #673ab7;
}

#loading-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    padding: 16px;
    
    #loading-header {
        font-size: 40px;
        font-weight: bold;    
    }
}
