<!-- TODO: ( obs$ | async)?.prop  => replace ?. with . when they will fix that bug -->

<div *ngIf="loading" id="loading-container">
  <mat-spinner diameter="100"></mat-spinner>
  <span id="loading-header">Un momento...</span>
  Mentre il meme viene caricato, se vuoi puoi leggere questo messaggio che non dice assolutamente nulla ma è talmente lungo che appena avrai finito di leggerlo il caricamento sarà già completato e non ti lamenterai del fatto che ci è voluto troppo tempo per caricarlo.
</div>

<mat-card>
    <mat-card-header>
      <div id="avatar" mat-card-avatar><mat-icon>add_a_photo</mat-icon></div>
      <mat-card-title>{{ (board$ | async )?.name }}</mat-card-title>
      <mat-card-subtitle>aggiungi meme</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div id="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Titolo (solo se non è brutto)</mat-label>
          <input matInput [(ngModel)]="title" maxlength="50">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nome o nickname (se vuoi scriverlo, sennò è uguale)</mat-label>
          <input matInput [(ngModel)]="name" maxlength="50">
        </mat-form-field>
        <div id="drop-file-area" (click)="upload_meme(fileUpload)">
          Trascina qui il meme oppure clicca/tocca qui (ma solo dopo esserti lavato le mani) per selezionare un file dal dispositivo. Massimo 5MB altrimenti non c'entra.
          <p *ngIf="fname; else noFile" class="primary">
            File caricato: {{ fname }}
          </p>
          <ng-template #noFile>
            <p class="warn">Nessun file caricato (per ora)</p>
          </ng-template>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Spiegazione (solo se hai proprio voglia di scriverla)</mat-label>
          <textarea matInput [(ngModel)]="description" maxlength="500"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions id="actions">
      <button mat-raised-button (click)="reset()">Ho fatto un troiaio, cancella tutto</button>
      <button mat-raised-button [disabled]="!fbuffer" color="primary" [matTooltip]="fbuffer ? '' : 'carica prima il meme'" (click)="submit()">Aggiungi</button>
    </mat-card-actions>
</mat-card>

<input type="file" id="upload-file" #fileUpload (change)="file_chosen(fileUpload)" accept="image/png, image/gif, image/jpeg">
