/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

snack-bar-container.warn {
    background-color: #cc5c00;
}

snack-bar-container.success {
    background-color: #00cc66;
    color: black;
}
